<div class="tab">
  <div class="moshakhasat">
    <div class="name">
      <p>نام:امیر</p>
      <p>نام خانوادگی: خلیلیان</p>
      <p>شماره:091111111</p>
      <p>ایمیل:test@GMAIL.COM</p>
    </div>
    <div class="table">
      <table>
        <thead>
        <tr>
          <th>نام</th>
          <th colspan="2">ام خانوادگی</th>
          <th>شماره</th>
          <th>ایمیل</th>
        </tr>
        <td>نام</td>
        <td>خلییان</td>
        <td>0911111111</td>
        <td>test@gmail.com</td>
        </thead>
      </table>
    </div>
    <div class="img">
      <button class="btn btn-primary">!Click Me</button>
      <img src="assets/star_FILL0_wght400_GRAD0_opsz48.png">
      <img src="assets/star_FILL0_wght400_GRAD0_opsz48.png">
      <img src="assets/star_FILL0_wght400_GRAD0_opsz48.png">
      <img src="assets/star_FILL0_wght400_GRAD0_opsz48.png">
      <img src="assets/star_FILL0_wght400_GRAD0_opsz48.png">
    </div>
  </div>
</div>
